.lato {
  font-family: 'lato', sans-serif;
}

/* Navigation */

:focus {
  outline: 0;
}

#menu-switch {
  display: none;
}

#menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  text-align: center;
  background-color: #fff;
}

#menu .brand {
  height: 51px;
  font-size: 70px;
  font-weight: 900;
  line-height: .6;
  color: #ddd;
}

#menu ul {
  padding: 0;
  margin-top: 30px;
}

#menu ul li a {
  display: block;
  font-weight: 900;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: #232629;
  border-top: 1px solid #eee;
}

#menu ul li:last-child a {
  border-bottom: 1px solid #eee;
}

#menu ul li a:hover {
  letter-spacing: 1px;
}

#menu-switch:checked~#menu {
  left: 0;
}

.page-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#menu-switch:checked~.page-wrap {
  margin-left: 300px;
}

/* MENU TOGGLE ICON */

#menu-toggle:focus {
  outline: none;
}

#menu-toggle {
  display: inline-block;
  position: absolute;
  width: 51px;
  height: 51px;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#menu-toggle:before,
#menu-toggle:after {
  position: absolute;
  content: "";
  background-color: #232629;
}

#menu-toggle:before {
  top: 12px;
  left: 25px;
  width: 1px;
  height: 27px;
}

#menu-toggle:after {
  top: 25px;
  left: 12px;
  width: 27px;
  height: 1px;
}

#menu-switch:checked~.page-wrap #menu-toggle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Custom Sizes */

.left-50{
  left: 50%;
}

.ml--28{
  margin-left: -28px;
}

.ml--40{
  margin-left: -40px;
}