.lato {
  font-family: 'lato', sans-serif;
}

.sideline{
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: top right;
}

.top-200{
  top: 200px
}

.bar{
  height: 1px;
  width: 8rem;
}

.f-super{
  font-size: 14rem;
}

@media screen and (min-width: 48em){
  .f-super-ns{
    font-size: 14rem;
  }
}

.f-xsuper{
  font-size: 40rem;
}

#reader{
  transition: all 0.5s;
}

.vis-hide{
  visibility: hidden;
}

.vis{
  visibility: visible;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.mxhi-75{
  max-height: 75%;
}

.mxhi-100{
  max-height: 100%;
}

.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* CMS stuff */

.content p{
  margin-top: 0;
  margin-bottom: 2rem;
}

.content a{
  text-decoration: none;
  color: gray;
}

.content a:hover{
  color: black;
}

.content a:visited{
  text-decoration: none;
  color: gray;
}

.content blockquote{
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  border-left: 1px solid ;
  padding-left: 1rem;
  margin: 0;
}



.content cite{
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500
}

.content cite:before{
  content: "\2014 \2009";
}

@media screen and (min-width: 48em){
  .content blockquote{
    font-size: 1.5rem;
    padding-left: 2rem;
    font-weight: 100;
  }
}


/* Navigation */

:focus {
  outline: 0;
}

#menu-switch {
  display: none;
}

#menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  text-align: center;
  background-color: #fff;
}

#menu .brand {
  height: 51px;
  font-size: 70px;
  font-weight: 900;
  line-height: .6;
  color: #ddd;
}

#menu ul {
  padding: 0;
  margin-top: 30px;
}

#menu ul li a {
  display: block;
  font-weight: 900;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: #232629;
  border-top: 1px solid #eee;
}

#menu ul li:last-child a {
  border-bottom: 1px solid #eee;
}

#menu ul li a:hover {
  letter-spacing: 1px;
}

#menu-switch:checked~#menu {
  left: 0;
}

.page-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#menu-switch:checked~.page-wrap {
  margin-left: 300px;
}

/* MENU TOGGLE ICON */

#menu-toggle:focus {
  outline: none;
}

#menu-toggle {
  display: inline-block;
  position: fixed;
  width: 51px;
  height: 51px;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#menu-toggle:before,
#menu-toggle:after {
  position: absolute;
  content: "";
  background-color: #232629;
}

#menu-toggle:before {
  top: 12px;
  left: 25px;
  width: 1px;
  height: 27px;
}

#menu-toggle:after {
  top: 25px;
  left: 12px;
  width: 27px;
  height: 1px;
}

#menu-switch:checked~.page-wrap #menu-toggle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Spinner */

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Custom Sizes */

.left-50{
  left: 50%;
}

.ml--28{
  margin-left: -28px;
}

.ml--40{
  margin-left: -40px;
}