{{ define "main" }}
<section class="relative mw9 ph4 ph5-ns mb5 center">
  {{ if isset .Params "sideline" }}
    {{ partial "sideline" (dict "sideline" .Params.sideline (cond (isset .Params "sidecolor") "sidecolor" "") .Params.sidecolor) }}
  {{ end }}
  <div id="horizontal" class="flex flex-nowrap overflow-x-auto overflow-y-hidden vh-100">
  <article class="relative flex-shrink-0 mv0 w-50 vh-100">
    <div class="absolute bottom-0">
    <header class="lh-title">
      <h1 class="mt2 mb2 f5 fw5 black-50 ttu">{{ .Title | plainify }}</h1>
      <h2 class="mt0 mb2 f6 fw3 ttu">{{ .Params.subtitle | safeHTML }}</h2>
    </header>
    <div class="w-100 content f6 pb4 pr4 black-30 measure">
      {{ .Content }}
    </div>
    </div>
  </article>
  {{ with .Params.slides }}
    {{ range . }}
    <div class="relative w-50 vh-100 flex-shrink-0 ph4 pt5 pb4 center">
    <img class="db relative mxhi-100 center" src="{{.}}">
    </div>
    {{ end }}
  {{ end }}
  <aside class="flex-shrink-0 w-50 mb4 mb0-ns pl4 lh-solid tr">
    <time class="f-subheadline fw3 tr"><span class="f2">{{ dateFormat "2006" .Date }}</span><br>{{ dateFormat "01" .Date }}<span class="fw7">{{ dateFormat "02" .Date }}</span></time>
    {{ with .Params.stats }}
    {{ partial "slab-stat" . }}
    {{ end }}
  </aside>
  </div>
</section>

{{ end }}
