{{ define "header" }}
  {{ partial "overlay-menu" . }}
{{ end }}

{{ define "main" }}

<div class="flex relative overflow-hidden items-center justify-center mw9 vh-100 center">
  <h3 class="absolute mv0 f-super fw9 lh-solid black-05 tc ttu">Get In<br>Touch</h2>
  <h2 class="absolute mv0 f-subheadline fw3 lh-title black tc">We would love to hear from<br>and get to know <span class="fw7 dark-pink">your project.</span></h2>
  {{ partial "sideline" (dict "sideline" "Creative Visual Professionals" "sidecolor" "dark-pink") }}
</div>

<section id="holder" class="relative">
<div id="maximage" class="flex relative overflow-hidden items-center justify-center vh-100 center">
  <div class="">
    <img class="" src="/images/099A0912.jpg">
    <div class="flex relative items-center justify-center vh-100">
      <!-- <p class="f-subheadline ttu">Just Testing</p> -->
    </div>
  </div>
  <img src="/images/099A6920.jpg">
  <img src="/images/DSC_4659.jpg">
  <img src="/images/099A0940.jpg">
  <img src="/images/099A8187-rev.jpg">
  <img src="/images/099A8180-rev.jpg">
  <img src="/images/099A0940.jpg">
</div>
</section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#maximage').maximage();
  });
</script>

<section class="flex flex-wrap items-center justify-center vh-100 bg-black-80 white lh-solid">
  <div class="absolute">
    <h1 class="f-super fw7 black rbc tracked-tight ttu">Canned Ox</h1>
  </div>
  <div class="absolute">
    <h3 class="w-100 mt0 mb3">We are canned ox.</h3>
    <h2 class="w-100 mv0 f-subheadline rbc fw7 ttu">Focused,</h2>
    <h2 class="w-100 mv0 f-subheadline rbc fw7 ttu white-90">Creative,</h2>
    <h2 class="w-100 mv0 f-subheadline rbc fw7 ttu white-80">Energetic,</h2>
    <h2 class="w-100 mv0 f-subheadline rbc fw7 ttu white-70">Resourceful,</h2>
    <h2 class="w-100 mv0 f-subheadline rbc fw7 ttu white-60">Collaborative&hellip;</h2>
    <span class="db w4 mt3 bb bw2 b--dark-pink"></span>
  </div>
</section>

<section class="bg-white-90 near-black">
  <div class="mw9 ph5 center flex items-center vh-100">
    <div class="flex">
    <aside class="w-third lh-copy">
      <h2 class="dib mv0 pb3 f3 bb bw2 b--dark-pink">This is imporant to you.</h2>
    </aside>
    <article class="w-two-thirds pl4 f3 fw3 mid-gray">
      <p class="mv0 measure">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fuga minus minima optio consectetur laudantium praesentium, repellendus eaque non vero provident quisquam reprehenderit, dolore modi, similique sapiente ipsum explicabo. Adipisci!</p>
    </article>
    </div>
  </div>
</section>

<div class="flex relative overflow-hidden items-center justify-center mw9 vh-100 center bg-near-black">
  <h3 class="absolute mv0 f-super fw9 lh-solid white-50 tc ttu">Get In<br>Touch</h2>
  <h2 class="absolute mv0 f-subheadline fw3 lh-title white tc">We would love to hear from<br>and get to know <span class="fw7 dark-pink">your project.</span></h2>
  <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761"
      type="video/mp4">
  </video>
  {{ partial "sideline" (dict "sideline" "Creative Visual Professionals" "sidecolor" "dark-pink") }}
</div>

<div class="relative pv6 overflow-hidden flex-wrap justify-center mw9 vh-100 center bg-white-50">
  <h3 class="mv0 w-100 f-headline fw9 lh-solid black-05 tc ttu">Our History</h2>
  <h2 class="mv0 f1 fw3 lh-title black tc">Get To Know Us</h2>
  <p class="mt4 pt3 mb0 f5 fw3 lh-copy measure-wide black center tj bt b--dark-pink">Canned Ox has provided creative visual, design, and marketing services to businesses and other creative professionals throught the mid-Atlantic area for more than a decade. We're flexible enough to provide as much or as little as your brand needs. From consulting to design and production to daily operation of marketing campaigns &mdash; we can help.</p>
  {{ partial "sideline" (dict "sideline" "Creative Visual Professionals" "sidecolor" "dark-pink") }}
</div>

<div class="flex relative bg-black-80 min-vh-100 items-center justify-center overflow-hidden">
  <h1 class="f-super absolute fw9 ma0 black bg-transparent ttu">Black</h1>
  <h2 class="f-subheadline absolute fw9 tracked-mega ma0 white bg-transparent ttu">White</h2>
  {{ partial "sideline" (dict "sideline" "Creative Visual Professionals" "sidecolor" "dark-pink") }}
</div>

<div class="flex relative min-vh-100 items-center justify-center overflow-hidden">
  <h1 class="f-super absolute fw9 ma0 black-10 bg-transparent ttu">White</h1>
  <h2 class="f-subheadline absolute fw9 tracked-mega ma0 black bg-transparent ttu">Black</h2>
  {{ partial "sideline" (dict "sideline" "Creative Visual Professionals" "sidecolor" "dark-pink") }}
</div>

<section class="flex flex-wrap items-stretch relative mw9 ph4 ph5-ns pv6 center bg-white">
    <div class="dib w-70 relative pv7">
      <div class="absolute top-0 left-0 bottom-0 right-0 cover bg-center" style="background-image:url(/images/099A0914.jpg);"></div>
    </div>
    <div class="dib w-30 relative pv7">
      <div class="absolute top-0 left-0 bottom-0 right-0 cover bg-center" style="background-image:url(/images/099A1050.jpg);"></div>
    </div>
    <div class="dib w-30 relative pv7">
      <div class="absolute top-0 left-0 bottom-0 right-0 cover bg-center" style="background-image:url(/images/099A7914.jpg);"></div>
    </div>
    <div class="dib w-70 relative pv7">
      <div class="absolute top-0 left-0 bottom-0 right-0 cover bg-center" style="background-image:url(/images/DSCF9508.jpg);"></div>
    </div>
</section>
  
{{ end }}