{{ define "header" }}
{{ end }}

{{ define "main" }}

<div class="relative flex items-end vh-100 bg-p369c white pa5 mv0 center">
  <header class="measure-wide">
    <h1 class="f2 f-headline-l lh-title mv0">A concept, food for thought</h1>
  </header>
</div>

<div class="relative flex flex-wrap items-stretch">
  <div class="vh-100 w-100 w-two-thirds-ns flex items-center bg-white black-80">
    <article class="pl4 pl5-ns pr4 pr7-l">
    <h2 class="f3 f2-ns fw5 lh-copy">HIGH STUDIOS workouts are based on High Intensity Interval Training, which is the most effective and most scientifically proven training method. For this ambitious, fast growing company we created the name, visual identity and e-commerce platform.</h2>
    </article>
  </div>
  <div class="w-100 w-third-ns flex items-center justify-center bg-light-gray black-80">
    <article class="">
      <dl class="mv4">
        <dd class="mh0 f4 fw7 tracked">Awards &amp; Recognition</dd>
        <dd class="mh0 black-60">Hypershoot</dd>
      </dl>
      <dl class="mv4">
          <dd class="mh0 f4 fw7 tracked">Deliverables</dd>
          <dd class="mh0 black-60">Branding, Design & Development</dd>
        </dl>
      <dl class="mv4">
        <dd class="mh0 f4 fw7 tracked">Visit Site</dd>
        <dd class="mh0"><a href="https://studio.cdox.ltd" class="link black-60 underline-hover">studio.cdox.ltd</a></dd>
      </dl>
    </article>
  </div>
</div>

<div class="relative vh-100-ns w-100 flex flex-wrap bg-white">
  <article class="relative w-100 w-third-ns">
    <header class="vh-100 vh-50-ns cover bg-center" style="background-image: url(/images/099A6920.jpg)"></header>
    <div class="absolute bottom-0 black-80 bg-white pa4">
      <h2 class="f4 fw7">Identity</h2>
      <p class="f6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo nemo quidem, quibusdam, incidunt alias inventore omnis ducimus aliquid possimus error!</p>
    </div>
  </article>
  <aside class="w-100 w-two-thirds-ns vh-100 flex items-center justify-center bg-black white">
    <h2 class="f1 fw3 tracked-mega tc">High Studios</h2>
  </aside>
</div>

<div class="flex relative overflow-hidden items-center justify-center mw9 vh-100 center">
  <h3 class="absolute mv0 f-super fw9 lh-solid black-10 tc ttu">Get In<br>Touch</h2>
  <h2 class="absolute mv0 f1 f-subheadline-ns fw3 lh-title white tc">We would love to hear from<br>and get to know <span class="fw7 p369c">your project.</span></h2>
  <div class="sideline absolute top-200 left-0 dn inline-flex-ns items-center">
    <span class="bar dib mr2 bg-p369c"></span>
    <h3 class="mv3 f5 fw5 tracked-mega p369c ttu">A More Rewarding Engineering Process</h3>
  </div>  
</div>

<div class="relative vh-100-ns bg-p369c ph4 ph5-ns pv6 mv0 center">
  <div class="flex flex-wrap-reverse flex-nowrap-ns items-start mb6">
    <div class="w-100 w-30-ns">
      <dl class="ph0 mv0">
        <dd class="mh0 f4 fw7">Header</dd>
        <dd class="mh0">Lato normal 700</dd>
      </dl>
    </div>
    <div class="w-100 w-70-ns">
      <h2 class="f2 fw7 ttu mv0 tracked">abcdefghijklmnopqurstuvwxyz</h2>
    </div>
  </div>
  <div class="flex flex-wrap-reverse flex-nowrap-ns items-start mb6">
    <div class="w-100 w-30-ns">
      <dl class="ph0 mv0">
        <dd class="mh0 f4 fw7">Subheader</dd>
        <dd class="mh0">Lato normal 300</dd>
      </dl>
    </div>
    <div class="w-100 w-70-ns">
      <h2 class="f3 fw3 ttu mv0 tracked">abcdefghijklmnopqurstuvwxyz</h2>
    </div>
  </div>
  <div class="flex flex-wrap-reverse flex-nowrap-ns items-start">
    <div class="w-100 w-30-ns">
      <dl class="ph0 mv0">
        <dd class="mh0 f4 fw7">Body</dd>
        <dd class="mh0">Lato normal 400</dd>
      </dl>
    </div>
    <div class="w-100 w-70-ns">
      <p class="f6 fw4 mb2 mv0-ns measure-wide cc2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam nesciunt optio cupiditate. Nobis fugit quidem maxime praesentium, dicta iusto expedita magnam beatae ex velit possimus neque dolore consequatur itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis voluptatum culpa consectetur! Perferendis maiores modi perspiciatis quidem labore animi mollitia sequi unde, distinctio, at veniam vero natus, veritatis fugiat?</p>
    </div>
  </div>
</div>

<div class="vh-100-ns relative bg-white pv6 ph4 ph5-ns">
  <div class="flex flex-wrap">
    <div class="w-100 w-30-ns">
      <dl class="ph0 mv0">
        <dd class="mh0 f4 fw7 mb4">Brand colors</dd>
        <dd class="mh0 f6 mr3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos consequatur distinctio dolorum, impedit assumenda quas. Minus quibusdam nemo cupiditate tempore quasi facere, debitis dolore illo reiciendis repudiandae! Dolorum, alias quod.</dd>
      </dl>
    </div>
    <div class="flex flex-wrap flex-nowrap-ns justify-center w-100 w-70-ns ph4-ns mt4 mt0-ns">
      <div class="vh-50 w5 flex items-end bg-near-black">
        <aside class="white pv3 ph4">
          <h3 class="f6 fw4 tracked">Pantone Neutral Black</h3>
          <p class="f6 fw3">#151515</p>
        </aside>
      </div>
      <div class="vh-50 w5 flex items-end bg-p369c">
        <aside class="near-black pv3 ph4">
          <h3 class="f6 fw4 tracked">Pantone 369C</h3>
          <p class="f6 fw3">#EBFF00</p>
        </aside>
      </div>
      <div class="vh-50 w5 flex items-end bg-light-gray">
        <aside class="near-black pv3 ph4">
          <h3 class="f6 fw4 tracked">Pantone Cool Gray</h3>
          <p class="f6 fw3">#F4F4F4</p>
        </aside>
      </div>
    </div>
  </div>
</div>

<div class="flex relative overflow-hidden items-center justify-center mw9 vh-100 center bg-near-black">
  <h3 class="absolute mv0 f1 f-super-ns fw9 lh-solid white-30 tc ttu">Get In<br>Touch</h2>
  <h2 class="absolute mv0 f2 f-subheadline-ns fw3 lh-title white tc">We would love to hear from<br>and get to know <span class="fw7 p369c">your project.</span></h2>
  <div class="sideline absolute top-200 left-0 inline-flex items-center">
    <span class="bar dib mr2 bg-p369c"></span>
    <h3 class="mv3 f5 fw5 tracked-mega p369c ttu nowrap">bright yellow</h3>
  </div>
  <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761"
      type="video/mp4">
  </video>
</div>

<section id="holder" class="relative">
<div id="maximage" class="flex relative overflow-hidden items-center justify-center vh-100 center">
  <img class="" src="/images/099A0912.jpg">
  <img src="/images/099A6920.jpg">
  <img src="/images/DSC_4659.jpg">
  <img src="/images/099A0940.jpg">
</div>
</section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#maximage').maximage();
  });
</script>

{{ end }}