
{{ define "main" }}

<section class="absolute vh-100 w-100 top-0 left-0 bg-dark-pink overflow-x-hidden overflow-y-scroll bg-center cover" style="background-image: url('{{ .Params.image }}')">

  <article class="flex center pa5 bg-white lh-copy vh-100 items-center">
    <h1 class="measure-narrow mv0 pl5 f2 fw3"><span class="fw7">We are Canned Ox.</span><br>
    A creative agency focused on helping your brand achieve success utilizing design and production of photographic visuals.</h1>
  </article>

  <div class="flex center pa5 items-center vh-100 dark-pink bg-black-50">
    <h2 class="measure-narrow mv0 pl5 f2 fw3"><span class="fw7">We are Canned Ox.<br></span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis ab corrupti maiores veniam illum eum animi temporibus fugit libero officia aperiam quae, sed quibusdam omnis, eaque quia. Facilis, dignissimos!</h2>
  </div>

  {{ partial "footer-black" . }}
</section>

{{ end }}

{{ define "footer" }}
<div class=""></div>
{{ end }}