{{ define "header" }}
  {{ partial "nav" . }}
{{ end }}

{{ define "main" }}

<div class="flex relative overflow-hidden items-center justify-center mw9 vh-100 center">
  <h3 class="absolute mv0 f-super fw9 lh-solid black-05 tc ttu">Get In<br>Touch</h2>
  <h2 class="absolute mv0 f-subheadline fw3 lh-title black tc">We would love to hear from<br>and get to know <span class="fw7 dark-green">your project.</span></h2>
  <div class="sideline absolute top-200 left-0 inline-flex items-center">
    <span class="bar dib mr2 bg-black"></span>
    <h3 class="mv3 f5 fw5 tracked-mega black ttu">A More Rewarding Engineering Process</h3>
  </div>  
</div>

<section id="holder" class="relative">
<div id="maximage" class="flex relative overflow-hidden items-center justify-center vh-100 center">
  <div class="">
    <img class="" src="/images/099A0912.jpg">
    <div class="">
      <p class="">Just Testing</p>
    </div>
  </div>
  <img src="/images/099A6920.jpg">
  <img src="/images/DSC_4659.jpg">
  <img src="/images/DSCF1403.jpg">
  <img src="/images/099A0940.jpg">
</div>
</section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#maximage').maximage();
  });
</script>

<div class="flex relative overflow-hidden items-center justify-center mw9 vh-100 center bg-near-black">
  <h3 class="absolute mv0 f-super fw9 lh-solid black tc ttu">Get In<br>Touch</h2>
  <h2 class="absolute mv0 f-subheadline fw3 lh-title white tc">We would love to hear from<br>and get to know <span class="fw7 dark-green">your project.</span></h2>
  <div class="sideline absolute top-200 left-0 inline-flex items-center">
    <span class="bar dib mr2 bg-dark-green"></span>
    <h3 class="mv3 f5 fw5 tracked-mega dark-green ttu">A More Rewarding Engineering Process</h3>
  </div>
  <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761"
      type="video/mp4">
  </video>
</div>

<div class="relative pv6 overflow-hidden flex-wrap justify-center mw9 vh-100 center">
  <h3 class="mv0 w-100 f-headline fw9 lh-solid black-05 tc ttu">Our History</h2>
  <h2 class="mv0 f1 fw3 lh-title black tc">Get To Know Us</h2>
  <p class="mt4 pt3 mb0 f5 fw3 lh-copy measure-wide black center tj bt b--dark-green">At Monteverde Engineering & Design Studio, we provide a more rewarding engineering process, developing efficient, sustainable designs that maximize the potential of our client’s vision.  We accomplish this by prioritizing customer service, simplifying the process, and working on clearly defined budgets and schedules.  In sum, we are the advocates and facilitators you and your project deserve.</p>
  <div class="sideline absolute top-200 left-0 inline-flex items-center">
    <span class="bar dib mr2 bg-dark-green"></span>
    <h3 class="mv3 f5 fw5 tracked-mega dark-green ttu">Simplifying The Process</h3>
  </div>  
</div>

<div class="flex relative bg-near-black min-vh-100 items-center justify-center overflow-hidden">
  <h1 class="f-super absolute fw9 ma0 black bg-transparent ttu">Black</h1>
  <h2 class="f-subheadline absolute fw9 tracked-mega ma0 white bg-transparent ttu">White</h2>
  <div class="sideline absolute top-200 left-0 inline-flex items-center">
    <span class="bar dib mr2 bg-white white"></span>
    <h3 class="mv3 f5 fw5 tracked white ttu">Sideline</h3>
  </div>
</div>

<div class="flex relative bg-white min-vh-100 items-center justify-center overflow-hidden">
  <h1 class="f-super absolute fw9 ma0 black-05 bg-transparent ttu">White</h1>
  <h2 class="f-subheadline absolute fw9 tracked-mega ma0 black bg-transparent ttu">Black</h2>
  <div class="sideline absolute top-200 left-0 inline-flex items-center">
    <span class="bar dib mr2 bg-black black"></span>
    <h3 class="mv3 f5 fw5 tracked-mega black ttu">Sideline Tracked</h3>
  </div>
</div>

<section class="flex relative pb5 bg-near-black min-vh-100 justify-center items-center">
  <div class="relative w-30">
    <img src="/img/ts.jpg" alt="" class="">
      <div class="absolute top-0 left--300">
        <h2 class="mv0 f1 black fw9 lh-solid ttu">Our Team</h2>
        <h3 class="mv0 f2 white fw5 lh-title ttu">Meet the humans<br>behind Monteverde.</h3>
        <div class="flex items-center">
          <span class="bar dib mr2 bg-dark-green"></span>
          <h4 class="dib mt0 mb0 dark-green f3 fw5">James Joyce</h4>
        </div>
        <div class="absolute tr-bio bottom-0 right-0 h5 mw6 bg-white-90 black pa4">
          <p class="mv0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quia magni autem, tempora neque expedita! Sit labore sint error totam nostrum, perferendis rem similique dolor nemo corporis, non facilis magni!</p>
        </div>        
      </div>
    </div>
    <div class="sideline absolute top-200 left-0 inline-flex items-center">
      <span class="bar dib mr2 bg-dark-green "></span>
      <h3 class="mv3 f5 fw5 tracked-mega white ttu">Jimmy Tracked</h3>
    </div>  
</section>

<section class="flex relative pb5 bg-white min-vh-100 justify-center items-center">
  <div class="relative w-30">
    <img src="/img/sr.jpg" alt="" class="">
      <div class="absolute top-0 left--300">
        <h2 class="mv0 f1 black-05 fw9 lh-solid ttu">Our Team</h2>
        <h3 class="mv0 f2 black fw5 lh-title ttu">Meet the humans<br>behind Monteverde.</h3>
        <div class="flex items-center">
          <span class="bar dib mr2 bg-dark-green dark-green"></span>
          <h4 class="dib mt0 mb0 dark-green f3 fw5">T S Elliot</h4>
        </div>
        <div class="absolute tr-bio bottom-0 right-0 h5 mw6 bg-black white pa4">
          <p class="mv0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quia magni autem, tempora neque expedita! Sit labore sint error totam nostrum, perferendis rem similique dolor nemo corporis, non facilis magni!</p>
        </div>
      </div>
    </div>
    <div class="sideline absolute top-200 left-0 inline-flex items-center">
      <span class="bar dib mr2 bg-dark-green"></span>
      <h3 class="mv3 f5 fw5 tracked-mega black ttu">Timmy Sammy Tracked</h3>
    </div>  
</section>

<div class="flex relative items-stretch overflow-hidden">
  <div class="w-50 bg-black vh-100"></div>
  <div class="w-50 bg-white"></div>
  <h1 class="absolute a-center ma0 f-headline fw9 lh-solid tracked-mega mx-diff white bg-transparent tc">BLACK<br>ON<br>WHITE</h1>
</div>

<div class="relative bg-white min-vh-100 overflow-hidden">
    <h1 class="f-super absolute a-center fw9 ma0 black-05 bg-transparent ttu">White</h1>
    <h2 class="f-subheadline absolute a-center fw9 lh-solid tracked-mega ma0 black bg-transparent ttu tc">No Flexbox</h2>
    <div class="sideline absolute top-200 left-0 inline-flex items-center">
      <span class="bar dib mr2 bg-black black"></span>
      <h3 class="mv3 f5 fw5 tracked-mega black ttu">Sideline Tracked</h3>
    </div>
  </div>  

{{ end }}