
{{ define "main" }}

<section id="holder" class="relative">
<div id="maximage" class="flex relative overflow-hidden items-center justify-center vh-100 center">
  <div class="">
    <img class="" src="/images/099A0912.jpg">
    <div class="flex relative items-center justify-center vh-100">
      <!-- <p class="f-subheadline ttu">Just Testing</p> -->
    </div>
  </div>
  <img src="/images/099A6920.jpg">
  <img src="/images/DSC_4659.jpg">
  <img src="/images/099A0940.jpg">
  <img src="/images/099A8187-rev.jpg">
  <img src="/images/099A8180-rev.jpg">
  <img src="/images/099A0940.jpg">
</div>
</section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#maximage').maximage();
  });
</script>

<section class="flex flex-wrap items-center justify-center vh-100 bg-black-80 white lh-solid overflow-x-hidden w-100">
  <div class="absolute overflow-x-hidden">
    <h1 class="f-headline f-super-ns fw7 black rbc tracked-tight ttu tc">Canned Ox</h1>
  </div>
  <div class="absolute pl3 pl0-ns">
    <h3 class="w-100 mt0 mb3">We are canned ox.</h3>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu">Focused,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-90">Creative,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-80">Energetic,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-70">Resourceful,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-60">Collaborative&hellip;</h2>
    <span class="db w4 mt3 bb bw2 b--dark-pink"></span>
  </div>
</section>

<div class="relative pv6 overflow-hidden flex-wrap justify-center mw9 vh-100 center bg-white-50">
  <h3 class="mv0 w-100 f1 f-headline-ns fw9 lh-solid black-05 tc ttu">Our History</h2>
  <h2 class="mv0 f2 f1-ns fw3 lh-title black tc">Get To Know Us</h2>
  <span class="db w4 mt3 bb bw2 b--dark-pink tc center"></span>
  <p class="mt4 mh4 mh0-ns mb0 f5 f3-ns fw3 lh-copy measure black center-ns tj">Canned Ox has provided creative visual, design, and marketing services to businesses and other creative professionals throught the mid-Atlantic area for more than a decade. We're flexible enough to provide as much or as little as your brand needs. From consulting to design and production to daily operation of marketing campaigns &mdash; we can help.</p>
  {{ partial "sideline" (dict "sideline" "Creative Visual Professionals" "sidecolor" "dark-pink") }}
</div>

<section class="flex flex-wrap items-center justify-center vh-100 bg-white-70 black lh-solid overflow-x-hidden w-100">
  <div class="absolute overflow-x-hidden">
    <h1 class="f-headline f-super-ns fw7 white-80 rbc tracked-tight ttu tc">Canned Ox</h1>
  </div>
  <div class="absolute pl3 pl0-ns">
    <h3 class="w-100 mt0 mb3">What we do.</h3>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu">Photography,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu black-80">Creative Direction,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu black-60">Design,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu black-50">Marketing,</h2>
    <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu black-40">Education&hellip;</h2>
    <span class="db w4 mt3 bb bw2 b--dark-pink"></span>
  </div>
</section>
  
{{ end }}