<section class="flex relative overflow-hidden items-center justify-center vh-100 center {{ cond (isset . "bg") .bg "bg-center" }} cover" style="background-image: url('{{.img}}')">
  <h2 class="absolute mv0 f-headline f-super-ns fw9 lh-solid white-30 tc ttu">{{ .title | safeHTML }}</h2>
  <div class="relative mw8 tc">
    {{ if isset . "subtitle" }}
    <h2 class="mv0 mh2 mh4-ns f1 f-subheadline-ns fw3 lh-title white tc">{{ .subtitle | safeHTML }}</h2>
    {{ end }}
    {{ if isset . "bnlink" }}
    <a href="{{ cond (isset . "bnlink") .bnlink "mailto:info@cdox.cc" }}" class="dib mt4 link w-auto-ns bg-transparent {{ cond (isset . "bcolor") .bcolor "white" }} f5 pv2 pv3-ns ph4 ba {{ cond (isset . "bcolor")   (printf "b--%s" .bcolor) "b--white"}} dim ttu">{{ .button }}</a>
    {{ end }}
  </div>
  {{ if isset . "sideline" }}
  <div class="dn sideline absolute top-200 left-0 inline-flex-ns items-center nowrap">
    <span class="bar dib mr2 {{ cond (isset . "sidecolor") (printf "bg-%s" .sidecolor) "bg-white" }}"></span> 
    <h3 class="mv2 f7 f6-ns fw4 tracked-mega ttu {{ cond (isset . "sidecolor") .sidecolor "white" }}">{{ .sideline }}</h3>
  </div>
  {{ end }}  
</section>
