<input id="menu-switch" type="checkbox"/>
<label for="menu-switch" id="menu-toggle" class="z-9999 ml2 mt2 ml4-ns mt4-ns z-999"></label>
<nav id="menu" role="navigation" class="z-999">
  <a class="db link lh-solid f-headline fw9 light-gray" href="/#home">OX</a>
  <ul class="list"> 
    <li>
      <a href="/#content">Visual Production</a>
    </li>
    <li>
      <a href="/#next">Creative</a>
    </li>
    <li>
      <a href="/#more">Workshops</a>
    </li>
    <li>
      <a href="/#work">Let's Work</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/news">News</a>
    </li>    
    <li>
      <a href="/about">About Us</a>
    </li>    
  </ul>
</nav>
  
