<input id="menu-overlay-switch" type="checkbox"/>
<label for="menu-overlay-switch" id="menu-overlay-toggle" class="z-9999 ml2 mt2 ml4-ns mt4-ns z-999"></label>

<section id="menu-overlay" class="overlay-menu fixed top-0 left-0 bottom-0 right-0 bg-center" style="background-image: url('/images/099A6920.jpg')">
  <nav class="flex flex-wrap h-100">
    <ul class="flex justify-between w-100 ma0 list white ttu tracked pa4 b--white-50 bb bt-0 bl-0 br-0">
      <li class="db"><label for="menu-overlay-switch">Home</label></li>
      <li class="db">Canned Ox</li>
      <li class="db">Contact</li>
    </ul>
    <ul class="flex flex-wrap items-stretch w-100 h-100 ma0 pa0 list white ttu tracked">
      <li class="flex items-center justify-center w-third h-50 b--white-50 bb"><span class="link relative flex items-center justify-center db h-100 w-100 hide-child">About
        <ul class="absolute flex items-center justify-center flex-column list pa0 child top-0 left-0 bg-white h-100 w-100 black-50">
          <li class=""><a href="/" class="link dim black-50">Stuff</a></li>
          <li class="">Stuff</li>
          <li class="">Stuff</li>
        </ul></span></li>
      <li class="flex items-center justify-center w-third h-50 b--white-50 bb br bl">About</li>
      <li class="flex items-center justify-center w-third h-50 b--white-50 bb">About</li>
      <li class="flex items-center justify-center w-third h-50">About</li>
      <li class="flex items-center justify-center w-third h-50 b--white-50 br bl">About</li>
      <li class="flex items-center justify-center w-third h-50">About</li>
    </ul>
  </nav>

</section>