<article class="pv3 pv5-ns" data-name="slab-stat-small">
  <h3 class="f6 ttu tracked">{{ .name }}</h3>
  <div class="cf">
    <dl class="fr w-50 dib lh-title ml0">
      <dd class="f6 fw4 ml0">Lens</dd>
      <dd class="f4 f7-m fw6 ml0">{{ .lens }}</dd>
    </dl>
    <dl class="fr w-50 dib lh-title ml0">
      <dd class="f6 fw4 ml0">Camera</dd>
      <dd class="f4 f7-m fw6 ml0">{{ .camera }}</dd>
    </dl>
    <dl class="fr w-50 dib lh-title">
      <dd class="f6 fw4 ml0">Focal Length</dd>
      <dd class="f3 f7-m fw6 ml0">{{ .focal }}</dd>
    </dl>
    <dl class="fr w-50 dib lh-title">
      <dd class="f6 fw4 ml0">Aperture</dd>
      <dd class="f3 f7-m fw6 ml0">{{ .aperture }}</dd>
    </dl>
    <dl class="fr w-50 dib lh-title">
      <dd class="f6 fw4 ml0">Heads</dd>
      <dd class="f3 f7-m fw6 ml0">{{ .heads }}</dd>
    </dl>
    <dl class="fr w-50 dib lh-title">
      <dd class="f6 fw4 ml0">Lighting</dd>
      <dd class="f3 f7-m fw6 ml0">{{ .lighting }}</dd>
    </dl>
    <dl class="fr w-80 dib lh-title">
        <dd class="f6 fw4 ml0">Notes</dd>
        <dd class="f6 f7-m fw3 ml0">{{ .notes }}</dd>
      </dl>
    </div>
</article>          
